<section id="background-cover" style="margin-top:-70px">
   
  <div id="background-overlay"></div>
    
  <div class="container">

<div class="row">
<div class="col-md-12">

    <h1 class="display-4 text-center py-5 text-dark">Your signup is <i>almost</i> complete!</h1>
    <hr>
    <p class="lead p-1 text-black text-center">

      <strong>Click the link in your confirmation email</strong> to login...
    </p>
    
</div>
</div>
</div>
</section>

<!-- <section class="jumbo-b">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <img src="../assets/img/computer_rocket.png" class="logo mx-auto d-block" style="max-width:290px; margin-top:-30px">
          <p class="lead pt-3 text-black text-center">
            <strong>Click the link in your confirmation email</strong> to login...
          </p>
        </div>
  
      </div>
    </div>
  </section> -->