<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <app-sidemenu></app-sidemenu>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 p-4">

      <div class="alert alert-primary" role="alert">
        <i class="fa fa-wrench mr-1" aria-hidden="true"></i>
        New elements added all the time -- check back for updates!
        <strong>Last updated: Dec. 3, 2017</strong>
      </div>

      <h1 class="display-5">Builder</h1>
      <hr>
      <p class="lead">The drag & drop template builder is currently in
        <strong>beta</strong>
      </p>

      <a href="/dashboard/builder-edit" class="btn btn-lg btn-bm-green">Launch Beta Template Builder
        <i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
      
      <br>
      <br>
      <p>Contact us anytime at
        <a href="mailto:hello@cobrella.io">hello@cobrella.io</a>
        <br> Join the Bootstrap Machine subreddit at
        <a target="_blank" href="https://reddit.com/r/bootstrapmachine">r/bootstrapmachine</a>
      </p>


    </main>
  </div>
</div>
