<div class="START"></div>
<section class="py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 align-self-center">
        <p class="text-center">This paragraph occupies 6 columns. It is located to the left of an embedded video that also occupies 6 columns. The
          text is centered both horizontally and vertically.</p>
      </div>
      <div class="col-md-6">
        <div class='embed-container'>
          <iframe src='https://player.vimeo.com/video/121469231' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="END"></div>