<section id="background">

  <app-navbar></app-navbar>
  <div class="container">

    <div class="row">
      <div class="col-md-4 m-auto">
        <div class="my-5 bg-light p-3">
          <h3 class="">Forgot Password</h3>
          <hr>

          <form #formData='ngForm' (ngSubmit)="onSubmit()">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" [(ngModel)]="email" name="email" class="form-control mb-3" placeholder="email" required autofocus>

        <button class="btn btn-lg btn-primary btn-block" type="submit">
              Send Reset Link
            </button>
          </form>

          <hr>


        </div>
        <footer class="text-light text-center">Boostrap Machine. 2018.</footer>

      </div>
    </div>
  </div>
</section>