<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <app-sidemenu></app-sidemenu>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 p-4">
      <h1 class="display-5">Welcome, {{ (authService.user | async)?.email }}!</h1>
      <hr>
      <p class="lead">Thanks for being a
        <strong>beta tester!</strong> Bootstrap Machine is 100% free while we're in this phase so that we can get quality feedback
        and grow.
      </p>
      <p>In the future, Bootstrap Machine will have both a free account option and a $9/month account option that gives you
        access to premium templates and elements in the drag & drop editor.</p>


      <p>Bootstrap Machine's goal is to be a one-stop shop for hobbyists and full time developers alike, helping speed up custom
        template creation time, providing prebuilt typical templates, and maintaining a helpful resource list.</p>


      <p>Bootstrap Machine is built by web developers, and we use it everyday to speed up our production work.</p>


      <p>Contact us anytime at
        <a href="mailto:hello@cobrella.io">hello@cobrella.io</a>
        <br> Join the Bootstrap Machine subreddit at
        <a target="_blank" href="https://reddit.com/r/bootstrapmachine">r/bootstrapmachine</a>
      </p>

      <hr>
      <p class="lead">
        Changelog:</p>
      <ul class="bg-dark text-light py-3 pr-3">
        <li>12/03/17: Beta 1 released to the public!</li>
      </ul>

    </main>
  </div>
</div>
