<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <app-sidemenu></app-sidemenu>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 p-4">
      <h1 class="display-5">Welcome, {{ (authService.user | async)?.email }}!</h1>
      <hr>
      <p class="lead">Thanks for being a
        <strong>beta tester!</strong> Bootstrap Machine is 100% free while we're in this phase so that we can get quality feedback
        and grow.
      </p>
      <p>In the future, Bootstrap Machine will have both a free account option and a $9/month account option that gives you
        access to premium templates and elements in the drag & drop editor.</p>


      <p>Bootstrap Machine's goal is to be a one-stop shop for hobbyists and full time developers alike, helping speed up custom
        template creation time, providing prebuilt typical templates, and maintaining a helpful resource list.</p>


      <p>Bootstrap Machine is built by web developers, and we use it everyday to speed up our production work.</p>


      <p>Contact us anytime at
        <a href="mailto:hello@cobrella.io">hello@cobrella.io</a>
        <br> Join the Bootstrap Machine subreddit at
        <a target="_blank" href="https://reddit.com/r/bootstrapmachine">r/bootstrapmachine</a>
      </p>

      <hr>
      <p class="lead">
        Changelog:</p>
      <ul class="bg-dark text-light py-3 pr-3">
        <li>11/28/17: Released version beta 1 of the template builder!</li>
        <li>11/26/17: Released version alpha 5 of the builder! Released the Legacy Launchpad! template</li>
        <li>11/24/17: Swapped login system to Google social auth, tested and set live</li>
        <li>11/16/17: Released version alpha 1 of the builder! Updated resoures</li>
        <li>11/05/17: Added
          <u>
            <a class="text-light" href="/dashboard/gallery">gallery section</a>
          </u> with first template - Launchpad!, reorganized codebase for faster future development, added new resources section
          - Free Stock Photos!</li>
        <li>11/02/17: Added
          <u>
            <a class="text-light" href="/dashboard/resources">resources section</a>
          </u> with first 5 resources.</li>
        <li>10/31/17: User system, dashboard, and initial paging complete.</li>
        <li>10/24/17: Site officially launched. </li>
      </ul>

    </main>
  </div>
</div>
