<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
<app-sidemenu></app-sidemenu>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 p-4">
      <h1 class="display-5">Builder</h1>
      <hr>
      <p class="lead">The drag & drop template builder is currently in <strong>version alpha 1</strong> and it is not recommended you use it.</p>
     
      <a href="/dashboard/builder-edit" target="_blank" class="btn btn-bm-green">Launch Alpha <i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
     

    </main>
  </div>
</div>