<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
<app-sidemenu></app-sidemenu>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 p-4">

        <div class="alert alert-primary" role="alert">
            <i class="fa fa-wrench mr-1" aria-hidden="true"></i>
             10 new elements added every week -- check back for updates! <strong>Last updated: Nov. 26, 2017</strong>
          </div>

      <h1 class="display-5">Builder</h1>
      <hr>
      <p class="lead">The drag & drop template builder is currently in <strong>version alpha 5</strong> and it is not recommended you use it.</p>
     
      <a href="/dashboard/builder-edit" class="btn btn-bm-green">Launch Alpha <i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
     

    </main>
  </div>
</div>