<div class="START"></div>
<section class="bg-dark py-5">
  <div class="container">
    <h2 class="text-white text-center p-3">Pricing Comparison - 3 Options, Paragraph</h2>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="card m-2">
          <div class="card-body">
            <h2 class="card-title text-center">Option 1</h2>
            <p class="card-text text-center">List the benefits/features of this option in paragraph form.</p>
            <hr>
            <h2 class="card-title text-center">$xx.xx</h2>
            <button type="button" class="btn btn-lg btn-danger d-block mx-auto">Call To Action</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card m-2">
          <div class="card-body">
            <h2 class="card-title text-center">Option 2</h2>
            <p class="card-text text-center">List the benefits/features of this option in paragraph form.</p>
            <hr>
            <h2 class="card-title text-center">$xx.xx</h2>
            <button type="button" class="btn btn-lg btn-danger d-block mx-auto">Call To Action</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card m-2">
          <div class="card-body">
            <h2 class="card-title text-center">Option 3</h2>
            <p class="card-text text-center">List the benefits/features of this option in paragraph form.</p>
            <hr>
            <h2 class="card-title text-center">$xx.xx</h2>
            <button type="button" class="btn btn-lg btn-danger d-block mx-auto">Call To Action</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="END"></div>
