<section id="background-cover">

  <div id="background-overlay"></div>

  <app-navbar></app-navbar>
  <div class="container">

    <div class="row">
      <div class="col-md-4 m-auto">
        <div class="my-5 bg-light p-3" style="border: 2px solid #35495e">
          <h3 class="" style="font-weight:400">Login</h3>
          <hr>

          <button class="btn btn-lg btn-google btn-block mt-3" (click)="loginWithGoogle()">
            <span class="fa fa-google mr-1"></span>
            Login with Google</button>

          <button class="btn btn-lg btn-dark btn-block mt-3 rounded-0" (click)="loginWithGithub()" style="cursor:pointer">
            <span class="fa fa-github mr-1"></span>
            Login with Github</button>

          <button class="btn btn-lg btn-dark btn-block mt-3 rounded-0" style="background-color: #3B5998; border-color: #3B5998; cursor:pointer" (click)="loginWithFacebook()">
            <span class="fa fa-facebook mr-1"></span>
            Login with Facebook</button>

            <hr>

            <form #formData='ngForm' (ngSubmit)="onSubmit()">
                <label for="inputEmail" class="sr-only">Email address*</label>
                <input type="email" [(ngModel)]="email" name="email" class="form-control mb-2 rounded-0" placeholder="Email*" required autofocus>
    
    
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" [(ngModel)]="password" name="password" class="form-control mb-2 rounded-0" placeholder="Password*"
                  required>
                <button class="btn btn-lg btn-bm-green btn-block mt-3" type="submit">
                  <span class="fa fa-envelope mr-1"></span>
    
                  Login with Email
                </button>
              </form>
    
              <p class="text-center mb-0 mt-2" style="font-size:12px">
                <a routerLink="/forgot-password" class="text-center text-dark">Forgot password?</a>
              </p>
    

        </div>
        <footer class="text-dark text-center">Boostrap Machine. 2018.</footer>

      </div>
    </div>
  </div>
</section>
