/* .element-live{
    display:block;
}
.element-preview{
    display:none;
}


@media (min-width: 800px) {
    .element-live{
        display:none;
    }
    .element-preview{
        display:block;
    }


} */

.howdy{
    /* zoom: 1 !important; */
    /* margin-bottom:0px !important; */
    /* border:none; */
    margin-bottom:0 !important;

    transform: scale(1) !important;
    /* -webkit-transform-origin: 0 0; */
    transform-origin: 0 0;
    height:100% !important;
    width: 100% !important;
    border: none !important;
    
}

.zoom {
    /* zoom: .2; */
    cursor: pointer;
    margin-bottom: 1em;
    display: block;

    transform: scale(0.5);
    /* -webkit-transform-origin: 0 0; */
    transform-origin: 0 0;
    width: 200%;
    /* border: 1px solid #a7a7a7; */
    height:100%;
}




.dropdown-toggle::after {
    right: 1em;
    position: absolute;
    top: 1em;
}

.dropdown-menu.show {
    display: block;
    width: 100%;
}

.custom-select {
    width: 100%;
}

.welcome-text{
    text-align: left;
    /* color: #d2d2d2; */
    /* color: #e2e2e2; */
    color: #efefef;
    
    z-index: -1;
    margin-bottom:.3em;
}

.sidebar{
position: fixed;
top: 70px;
bottom: 0;
left: 0;
z-index: 1000;
/* padding: 20px 0; */
overflow-x: hidden;
overflow-y: auto;
border-right: 1px solid #eee;
padding:10px;
}

.editorArea:after {
    content: "\f055";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 50px;
    color: #e6e6e6;
    bottom: 0;
    left: 48%;
    display: block;
    margin-bottom: -22px;
  }

.btn-bm-red{
    background-color: #e74c3c;
    border-color: #e74c3c !important;
}

.bt-bm-red:hover{
    background-color: #c0392b !important;
}


  