  <!-- <app-navbar></app-navbar> -->
  <header>
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-faded" style="background-color: #34495e;    padding: 15px;">
        <div class="navbar-brand">Bootstrap <strong>Machine</strong></div>
        
      
        <!-- <div *ngIf="(authService.user | async)" id="navbarNavDropdown" class="navbar-collapse collapse"> -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <button type="button" (click)="updateString()" class="btn btn-bm-green" data-toggle="modal" data-target="#exampleModal">
                  <i class="fa fa-file-code-o mr-1" aria-hidden="true"></i> View Code
                </button>
              </li>
                
            <li class="nav-item">
              <a class="btn btn-bm-green btn-danger ml-2" routerLink="/dashboard">
              <!-- <button type="button" (click)="updateString()" class="btn btn-bm-green btn-danger ml-2" data-toggle="modal" data-target="#exampleModal"> -->
                  <i class="fa fa-times mr-1" aria-hidden="true"></i>   
                Exit
                <!-- </button> -->
              </a>
            </li>
            <!-- <li class="nav-item">
              <a routerLink="/signup" class="btn btn-light">Join Free</a>
            </li> -->
          </ul>
        <!-- </div> -->
      
      <!-- <p class="ml-auto text-light" *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</p> -->
      </nav>
      </header>
      

  <div class="container-fluid" style="margin-top:56px">
  	<div class="row">

	<div class="col-md-3 bg-light pt-3 sidebar">
    
  

      <select  class="custom-select mb-3" [(ngModel)]="category">
          <option>Navbar</option>
          <option>Jumbotron</option>
          <option>Columns</option>
          <option>Footer</option>
        </select>

 

    <div  [dragula]='"first-bag"' id='left'>


        <div *ngIf="category == 'Navbar'">
          <app-element-navbar01 class="zoom"></app-element-navbar01>
        </div>

        <div *ngIf="category == 'Navbar'">
            <app-element-navbar02 class="zoom"></app-element-navbar02>
        </div>

        <div *ngIf="category == 'Footer'">
          <app-element-footer01 class="zoom"></app-element-footer01>
      </div>

      <div *ngIf="category == 'Footer'">
        <app-element-footer02 class="zoom"></app-element-footer02>
    </div>

    <div *ngIf="category == 'Jumbotron'">
      <app-element-jumbotron01 class="zoom"></app-element-jumbotron01>
  </div>

  <div *ngIf="category == 'Jumbotron'">
    <app-element-jumbotron02 class="zoom"></app-element-jumbotron02>
</div>

    <div *ngIf="category == 'Columns'">
      <app-element-column-halves class="zoom"></app-element-column-halves>
  </div>

  <div *ngIf="category == 'Columns'">
    <app-element-column-thirds class="zoom"></app-element-column-thirds>
</div>

<div *ngIf="category == 'Columns'">
  <app-element-column-fourths class="zoom"></app-element-column-fourths>
</div>

<div *ngIf="category == 'Columns'">
  <app-element-column-third-fill class="zoom"></app-element-column-third-fill>
</div>

<div *ngIf="category == 'Columns'">
  <app-element-column-two-thirds-fill class="zoom"></app-element-column-two-thirds-fill>
</div>



      </div>



	</div>


	<div class="col-md-9 ml-md-auto pt-3">

<!-- <div class="mt-3">
    <h2 class="welcome-text">WELCOME TO THE DRAG & DROP TEMPLATE BUILDER <i class="fa fa-exclamation" aria-hidden="true"></i>
    </h2>
    <h2 class="welcome-text">DRAG ELEMENTS RIGHT HERE <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
      TO ADD THEM TO YOUR TEMPLATE</h2>
    
    <h2 class="welcome-text"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
      CHANGE THE CATEGORY TO VIEW DIFFERENT ELEMENTS</h2>
    <h2 class="welcome-text">PRESS VIEW CODE  <i class="fa fa-file-code-o ml-1" aria-hidden="true"></i>
      TO VIEW & COPY YOUR CODE</h2>
</div> -->

 <div style="    height: -webkit-fill-available;       
 " class="bg-white mt-3" [dragula]='"first-bag"' id='right' >
        <!-- <div>Top of page</div> -->

      </div>
	</div>

    </div>
    <div>
    </div>

  </div>

  <!-- {{string}} -->

  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your Code</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pre class="bg-dark text-white py-2 px-2 ">{{string}}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  