/* .element-live{
    display:block;
}
.element-preview{
    display:none;
}


@media (min-width: 800px) {
    .element-live{
        display:none;
    }
    .element-preview{
        display:block;
    }


} */

.howdy{
    zoom: 1 !important;
}

.zoom {
    zoom: .2;
    cursor: pointer;
}
