<app-navbar></app-navbar>

<section id="section-cogs">
<div class="background-cover" style="    background: rgba(255,255,255,0.88);">
<div class="container">
<div class="jumbotron jumbotron-fluid" style="background: none">
  <div class="container">
    <h1 class="display-4 text-center">Privacy Policy</h1>
    <p class="lead text-center pt-2"><strong>TLDR; We won't ever sell your information</strong></p>
  </div>
</div>
</div>
</div>
</section>

<section>
<div class="container">
<div class="row">
  <div class="col-md-12">
<!-- <h3 class="display-5">Overview</h3>
<p class="pb-3">Bootstrap Machine values your privacy, and won't ever use your information for anything besides its services and promotion of the other products that Cobrella creates. Login is required on the Bootstrap Machine platform in order to streamline the process of upgrading to our premium plan if a user ever chooses to do so, and to alert users of
  new services, features, and promotions. Emails can be opted out of at anytime, and your information will be permanetly deleted.

</p> -->


<h3 class="display-5">Email Collection</h3>
We collect the e-mail addresses of those who communicate with us via e-mail, aggregate information on what pages consumers access or visit, and information volunteered by the consumer (such as survey information and/or site registrations). The information we collect is used to improve the content of our Web pages and the quality of our service, and is not shared with or sold to other organizations for commercial purposes, except to provide products or services you've requested, when we have your permission, or under the following circumstances:
  <ol class="my-3">
<!-- <h3 class="display-5"> -->
  <li><p class="lead mb-0"><strong>Information Sharing</strong></p>
<!-- </h3> -->
<!-- <p class="pb-3"> -->
  <ul><li>It is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Terms of Service, or as otherwise required by law.
    </li>
    </ul>
  </li>

  <li><p class="lead mb-0"><strong>Information Transfer</strong></p>
    <!-- </h3> -->
    <!-- <p class="pb-3"> -->
      <ul><li>We transfer information about you if Bootstrap Machine is acquired by or merged with another entity. In this event, Bootply will notify you before information about you is transferred and becomes subject to a different privacy policy. 
        </li>
        </ul>
      </li>
    <!-- </p> -->
<!-- <li></li>>Information Transfer</h3> -->
<!-- <p class="pb-3">We transfer information about you if Bootply is acquired by or merged with another entity. In this event, Bootply will notify you before information about you is transferred and becomes subject to a different privacy policy. -->
<!-- </p> -->
</ol>
<br>
<br>



</div>
</div>
</div>
</section>

      <section class="bg-dark" style="background-color: #35495e!important">
<div class="container py-5">
    <h1 class="display-5 text-center text-white">Bootstrap Machine is <u>Free for Life</u></h1>
    <p class="lead text-center py-2 text-white"><strong>Unlock <strong>premium</strong> anytime for $9/month. No commitment.</strong></p>
<p class="text-center lead">
<a class="btn btn-bm-green btn-lg" href="/signup" role="button">Create Free Account
    <i class="fa fa-arrow-circle-right ml-1" aria-hidden="true"></i>
  </a>
</p>
</div>
      </section>

<app-footer></app-footer>