.jumbo-b{
	background-color:#dceaf3;
}

	#section-jumbotron{
		    background-color: #5185a9;
    background-image: url('/assets/img/dark-geometric.png');

	}

	#section-cta{
		background-color:#B1DDF8;
	
	}

	#section-footer{
				    background-color: #526f83;

	}

	.step-icon{
		    color: #dc3646;
    font-size: 2.5rem;
	}