<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"> -->

<div id="background-image"></div>

    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center flex-container">

            <div class="col-lg-6 d-none d-lg-block">
                <div class="mx-auto my-5 container-text">
                    <h3 class="text-gray">Ready to join the club?</h3>
                    <hr>
                    <ul class="fa-ul text-gray" style="font-size:1.5rem">
                        <li class="mb-2">
                            <i class="fa-li fa fa-check-circle icon-check"></i>Free for life</li>
                        <li class="mb-2">
                            <i class="fa-li fa fa-check-circle icon-check"></i>Drag & drop editor</li>
                        <li class="mb-2">
                            <i class="fa-li fa fa-check-circle icon-check"></i>Template gallery</li>
                        <li class="mb-2">
                            <i class="fa-li fa fa-check-circle icon-check"></i>Handpicked Resources</li>
                    </ul>
                    <hr>
                    <p class="text-light-gray">
                        <i>"Bootstrap Machine saves me 3-5 hours per week on my development time. I don't make Bootstrap pages
                            without it anymore."
                        </i>
                    </p>
                    <p class="text-light-gray">
                        -Example Testimonial
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12">
                <div class="card rounded-0 my-5 mx-auto container-form">
                    <div class="card-body">
                        <h3 class="text-gray">Signup in seconds...</h3>
                        <hr>
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg rounded-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg rounded-0" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-block btn-lg rounded-0 btn-submit">Signup with Email</button>
                        </form>
                        <hr>
                        <div class="text-center pb-1">
                            <span class="mr-1 text-gray">
                                <strong>or</strong> signup socially: </span>
                            <a class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x circle-facebook"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse link-hover"></i>
                            </a>
                            <a class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x circle-twitter"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse link-hover"></i>
                            </a>
                            <a class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x circle-github"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse link-hover"></i>
                            </a>
                        </div>
                        <hr>
                        <p class="text-center mb-2 text-light-gray">Already have an account?
                            <a class="link" href="">Login here.</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>