<div class="START"></div>
<footer class="bg-light text-dark py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h5>Contact</h5>
        <hr class="border-dark">
        <ul class="list-unstyled">
          <li>
            <a class="text-dark" href="mailto:hello@cobrella.io">Email Us</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
          <h5>Navigate</h5>
          <hr class="border-dark">          
          <ul class="list-unstyled">
            <li>
              <a class="text-dark">Create Free Account</a>
            </li>
            <li>
              <a class="text-dark">Login</a>
            </li>
          </ul>
      </div>
      <div class="col-md-3 col-sm-6">
          <h5>Legal</h5>
          <hr class="border-dark">          
          <ul class="list-unstyled">
            <li>
              <a class="text-dark">Terms &amp; Conditions</a>
            </li>
            <li>
              <a class="text-dark">Privacy Policy</a>
            </li>
            <li>
              <a class="text-dark">Code Usage License</a>
            </li>
          </ul>
      </div>
      <div class="col-md-3 col-sm-6">
          <h5>Social</h5>
          <hr class="border-dark">          
          <h1 class="d-inline">
            <a class="text-dark">
              <i aria-hidden="true" class="fa fa-facebook-official"></i>
            </a>
          </h1>
          <h1 class="d-inline">
            <a class="text-dark">
              <i aria-hidden="true" class="fa fa-reddit ml-1"></i>
            </a>
          </h1>
      </div>
    </div>
  </div>
</footer>
<div class="END"></div>