<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
<app-sidemenu></app-sidemenu>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 p-4">
      <h1 class="display-5">Account</h1>
      <hr>
      
      <p class="lead mb-4">Manage and update your account settings.</p>

      <h3><i class="fa fa-lock" aria-hidden="true"></i>
         Update Password</h3>
      <hr>
      <div class="row mb-4">
        <div class="col-md-12">

               

            <form #formData='ngForm' (ngSubmit)="updatePassword()" class="form-inline">
                
                    <div class="row">
                            <div class="col-md-4">
                                    <input type="password" [(ngModel)]="newPassword" name="newPassword" class="form-control mb-2" placeholder="New Password" style="border-radius: 0px" required>
                                </div>
                            <div class="col-md-4">
                                    <input type="password" [(ngModel)]="newPasswordAgain" name="newPasswordAgain" class="form-control mb-2" placeholder="New Password Again" style="border-radius: 0px" required>
                                </div>
                            <div class="col-md-4">
                                    <button class="btn btn-bm-green btn-block" type="submit">
                                            Update Password
                                        </button>
                            </div>
                          </div>

                

                
            </form>
      </div>
      </div> 

      <h3>🎉 Go Premium</h3>
      <hr>
      <div class="row mb-4">
          <div class="col-md-12">
              
          <p>Bootstrap Machine is free for life, but has premium features as well. Unlock all of Bootstrap Machine's features for <strong>just $9/month. Cancel anytime.</strong></p>
          <p class="text-danger"><strong>NOTE: Bootstrap Machine is currently 100% Free while in Beta. Enjoy!</strong></p>
      </div>
        </div>

    

    

     

    </main>
  </div>
</div>