<div class="START"></div>
<section class="bg-light py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 align-self-center">
        <h3>Check out this awesome feature!</h3>
        <p>This paragraph occupies 6 columns. It is located to the right of an image that also occupies 6 columns. The image
          is centered horizontally. The text is centered both horizontally and vertically.</p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid d-block mx-auto py-3" src="/assets/public/computer-3.jpg">
      </div>
    </div>
  </div>
</section>
<div class="END"></div>
