<div class="START"></div>
<section class="bg-secondary py-5">
  <div class="container">
    <h2 class="text-center p-3">Pricing Comparison - 3 Options, List</h2>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="card m-2">
          <div class="card-body">
            <h2 class="card-title text-center">Option 1</h2>
            <ul>
              <li>Benefit/feature #1</li>
              <li>Benefit/feature #2</li>
              <li>Benefit/feature #3</li>
            </ul>
            <hr>
            <h2 class="card-title text-center">$xx.xx</h2>
            <button type="button" class="btn btn-info d-block mx-auto">Call To Action</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card m-2">
          <div class="card-body">
            <h2 class="card-title text-center">Option 2</h2>
            <ul>
              <li>Benefit/feature #1</li>
              <li>Benefit/feature #2</li>
              <li>Benefit/feature #3</li>
            </ul>
            <hr>
            <h2 class="card-title text-center">$xx.xx</h2>
            <button type="button" class="btn btn-info d-block mx-auto">Call To Action</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card m-2">
          <div class="card-body">
            <h2 class="card-title text-center">Option 3</h2>
            <ul>
              <li>Benefit/feature #1</li>
              <li>Benefit/feature #2</li>
              <li>Benefit/feature #3</li>
            </ul>
            <hr>
            <h2 class="card-title text-center">$xx.xx</h2>
            <button type="button" class="btn btn-info d-block mx-auto">Call To Action</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="END"></div>