<div class="START"></div>
<section class="bg-dark py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 align-self-center">
        <p class="text-center text-white">This is the first paragraph. The text is centered horizontally and vertically and occupies 6 columns.</p>
      </div>
      <div class="col-md-6 align-self-center">
        <p class="text-center text-white">This is the second paragraph. The text is centered horizontally and vertically and occupies 6 columns.</p>
      </div>
    </div>
  </div>
</section>
<div class="END"></div>