<app-navbar></app-navbar>

<section id="background">
    <div class="container">

        <div class="row">
            <div class="col-md-7 m-auto">
                <div class="row my-5 mx-1">
                    <div class="col-md-8 bg-light p-3">

                        <h3 class="form-signin-heading">Sign up - it's free!</h3>
                        <hr>

                        <form #formData='ngForm' (ngSubmit)="onSubmit()">
                            <label for="inputEmail" class="sr-only">Email address</label>
                            <input type="email" [(ngModel)]="email" name="email" class="form-control mb-2" placeholder="email" required autofocus>

                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" [(ngModel)]="password" name="password" class="form-control mb-2" placeholder="Password" required>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">
                                Signup
                            </button>
                        </form>

                    </div>
                    <div class="col-md-4 bg-dark p-3 d-flex">
                        <p class="text-light align-self-center">You will be sent a
                            <span class="font-weight-bold">confirmation email</span> at this address to confirm your account.
                        </p>
                    </div>
                </div>
                <footer class="text-light text-center">Boostrap Machine. 2018.</footer>

            </div>

        </div>
    </div>
</section>