
    <app-navbar></app-navbar>
    
  <section id="background">
  <div class="container">

<div class="row">
	<div class="col-md-7 m-auto">
      <!-- <form class="form-signin"> -->
          <div class="row my-5 mx-1">
            	<!-- <div class="my-5 bg-light p-3"> -->
            <div class="col-md-8 bg-light p-3">
                    	<!-- <div class="my-5 bg-light p-3"> -->

                <h3 class="form-signin-heading">Sign up - it's free!</h3>
                <hr>
                <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" [(ngModel)]="email" class="form-control mb-2" placeholder="Email" required autofocus>
                
        
                <label for="inputPassword" class="sr-only">Password</label>
                  <input type="password" [(ngModel)]="password" class="form-control mb-2" placeholder="Password" required>
        
              
                  <button class="btn btn-lg btn-primary btn-block"  (click)="signup()" [disabled]="!email || !password">
            Signup
          </button>
          <!-- </div> -->
            </div>
            <div class="col-md-4 bg-dark p-3 d-flex">
                <!-- <div class="my-5 bg-dark p-3"> -->
                    
                <p class="text-light align-self-center">You will be sent a <span class="font-weight-bold">confirmation email</span> at this address to confirm your account.
                </p>
                <!-- </div> -->
            </div>
<!-- </div> -->
          </div>

<!-- </div> -->
<footer class="text-light text-center">Boostrap Machine. 2018.</footer>
      <!-- </form> -->

<!-- {{errorMessage}} -->
    </div>
    <!-- <div class="col-md-2 m-auto">

        
    </div> -->
</div>
</div>
</section>