      <!-- Footer -->
      <section class="bg-black text-light py-4" style="background-color: #191b1d">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="footer-pad">
                <h5>Contact</h5>
                <hr class="text-light">
                <ul class="list-unstyled">
                    <li><a class="text-light"  href="mailto:hello@cobrella.io">
                        Email Us</a></li>
                  </ul>
            
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="footer-pad">
                <h5>Navigate</h5>
                <hr>
                <ul class="list-unstyled">
                  <li><a class="text-light"  href="/signup">Create Free Account</a></li>
                  <li><a class="text-light"  href="/login">Login</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="footer-pad">
                <h5>Legal</h5>
<hr>
                <ul class="list-unstyled">
                  <li><a class="text-light" href="/terms-and-conditions">Terms & Conditions</a></li>
                  <li><a class="text-light" href="/privacy-policy">Privacy Policy</a></li>
                  <li><a class="text-light" href="/usage-license">Code Usage License</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="footer-pad">
                <h5>Social</h5>
                <hr>
                <p>
                    <a href="https://www.facebook.com/bootstrapmachine" target="_blank" style="text-decoration: none !important"> 
                    <i class="fa fa-facebook-official footer-icon footer-icon-fb" aria-hidden="true"></i>   
                    </a> 
                    <a href="https://reddit.com/r/bootstrapmachine" target="_blank">             
                    <i class="fa fa-reddit ml-1 footer-icon footer-icon-reddit" aria-hidden="true"></i>
                  </a>   
                </p>

              </div>
            </div>
          </div>
        </div>
        </section>

        <section class="p-3" style="    background-color: #17a085;">
          <div class="container">
                <p class="text-center text-white" style="    margin-bottom: 0px;">Built with Bootstrap Machine. 2018. A 
                  <a href="http://cobrella.io" target="_blank" class="white-link">Cobrella</a> <i class="fa fa-umbrella" aria-hidden="true"></i>
                  Product.</p>
          </div>
        </section>
 