<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
<app-sidemenu></app-sidemenu>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 p-4">
      <h1 class="display-5">Bootstrap Resources</h1>
      <hr>
      <p class="lead mb-4">Quick links that help power up any bootstrap project.</p>
      <!-- </p> -->
      <!-- <p>Bootstrap
          CDN
          Docs
          Examples
          
          Colors:
          Flat UI Colors
          
          Typography
          https://rsms.me/inter/
          Google fonts
          </p> -->

          <h3>Bootstrap Essentials</h3>
          <hr>
          <div class="row mb-4">

              <div class="col-md-3">
                  
                  <div class="card" style="border-top: 5px solid #573d7c">
                      <div class="card-body">
                    <h4 class="card-title">Offical Docs</h4>
                    <p class="card-text">The offical Boostrap 4 documentation</p>
                    <a href="http://getbootstrap.com/docs/4.0/getting-started/introduction/" target="_blank" class="btn btn-dark">Visit Site <i class="fa fa-external-link ml-1" aria-hidden="true"></i>
                    </a>
                  </div>
                </div> 
              </div>


              <!-- <div class="col-md-3">
                                  <div class="card" style="border-top: 5px solid #573d7c">
                                      <div class="card-body">
                                    <h4 class="card-title">CDN Links</h4>
                                    <p class="card-text">Latest CSS, JS, Popper.js, and jQuery CDN links.</p>
                                    <a href="https://fonts.google.com" target="_blank" class="btn btn-dark">View <i class="fa fa-external-link ml-1" aria-hidden="true"></i>
                                    </a>
                                  </div>
                                </div> 
                              </div> -->


            <!-- <div class="col-md-12">
          <p class="lead">CSS</p>
          <p class="bg-dark text-light p-3">
              &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css&quot; integrity=&quot;sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb&quot; crossorigin=&quot;anonymous&quot;&gt;
                   </p>

                   <p class="lead">JS, Popper.js, and jQuery</p>

           <p class="bg-dark text-light p-3">
              &lt;script src=&quot;https://code.jquery.com/jquery-3.2.1.slim.min.js&quot; integrity=&quot;sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN&quot; crossorigin=&quot;anonymous&quot;&gt;&lt;/script&gt;   
          </p>

                   <p class="bg-dark text-light p-3">
                      &lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js&quot; integrity=&quot;sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh&quot; crossorigin=&quot;anonymous&quot;&gt;&lt;/script&gt;           
                                    </p>

                           
                           <p class="bg-dark text-light p-3">
                              &lt;script src=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js&quot; integrity=&quot;sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ&quot; crossorigin=&quot;anonymous&quot;&gt;&lt;/script&gt;                                   </p>
                
                            </div> -->
                            </div>
        

          <h3>Fonts & Icons</h3>
          <hr>
          <div class="row mb-4">
            <div class="col-md-3">

                <div class="card" style="border-top: 5px solid #ff5252">
                    <div class="card-body">
                  <h4 class="card-title">Google Fonts</h4>
                  <p class="card-text">Web friendly fonts with CDN and download options.</p>
                  <a href="https://fonts.google.com" target="_blank" class="btn btn-dark">Visit site <i class="fa fa-external-link ml-1" aria-hidden="true"></i>
                  </a>
                </div>
              </div> 
            </div>

            <div class="col-md-3">
              
                            <div class="card" style="border-top:5px solid #1c9e74">
                                <div class="card-body">
                                <h4 class="card-title">Font Awesome</h4>
                                <p class="card-text">Bootstraps reccomended icon font family.</p>
                                <a href="https://fontawesome.com" target="_blank" class="btn btn-dark">Visit site <i class="fa fa-external-link ml-1" aria-hidden="true"></i>
                                </a>
                              </div>
                            </div> 
                          </div>

                          <div class="col-md-3">
                              
                              <div class="card" style="border-top:5px solid #222222">
                                  <div class="card-body">
                                                <h4 class="card-title">                          Inter UI                                                  </h4>
                                                <p class="card-text">A font for highly legible text on computer screens.</p>
                                                <a href="https://rsms.me/inter/" target="_blank" class="btn btn-dark">Visit site <i class="fa fa-external-link ml-1" aria-hidden="true"></i>
                                                </a>
                                              </div>
                                            </div> 
                                          </div>

                                          <div class="col-md-3"></div>
          </div>


          <h3>Design</h3>
          <hr>
          <div class="row">
            <!-- <div class="col-md-3">

              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Flat UI Colors</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="https://fonts.google.com" target="_blank" class="btn btn-danger">Visit site</a>
                </div>
              </div> 
            </div> -->

            <div class="col-md-3">
                
                <div class="card" style="    border-top: 5px solid transparent;
                border-image: linear-gradient(to right,#27ae60  25%, #2980b9 25%, #2980b9 50%,#e74c3c 50%, #e74c3c 75%, #e67e22 75%) 5;
                border-left: 0px;
                border-right: 0px;
                border-bottom: 0px;">
                    <div class="card-body" style="border: 1px solid #dfdfdf;
                    border-radius: 0rem 0rem .3rem .3rem;">
                                  <h4 class="card-title">    Flat UI Colors                                                  </h4>
                                  <p class="card-text">Simple flat color grid with easy selection</p>
                                  <a href="https://flatuicolors.com" target="_blank" class="btn btn-dark">Visit site <i class="fa fa-external-link ml-1" aria-hidden="true"></i>
                                  </a>
                                </div>
                              </div> 
                            </div>
         

                     

          </div>



          <!-- <h3>Design</h3>
          
          
          <h3>Stock Photography</h3> -->
      

     

    </main>
  </div>
</div>