/* You can add global styles to this file, and also import other style files */
body{
    margin-top:70px !important;
    font-family: 'Roboto', sans-serif !important;
    
}

  .btn-bm-green {
    color: #fff;
    background-color: #16a085;
    border-color: #16a085;
    border-radius: 0px !important;
    cursor: pointer;
  }

  .btn-bm-green:hover {
    color:white;
    background-color: #27ae60;
    border-color: #27ae60;
  }

  h1{
    font-weight: 400 !important;
  }