.jumbo-b{
	background-color:#B1DDF8;
}

	#section-jumbotron{
		    background-color: #0285E0;
    background-image: url('/assets/img/dark-geometric.png');

	}

	#section-cta{
		background-color:#B1DDF8;
	
	}

	#section-footer{
				    background-color: #296b9b;

	}